
.row:after {
    clear: both;
    content: "";
    display: table;
}

.description {
    margin: 0.5rem auto 1rem auto;
    padding: 0.5rem;
    width: 30%;
    box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #FFFFFF;
}

.description p {
    color: #212529;
}

button, input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color : #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
}

.cell {
    color:#61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px #FFF,  5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    border-radius: 8px;
    line-height: 0;
    width: 48px;
    height: 48px;
    display:inline-flex;
    justify-content: center;
    align-items:center;
    margin: 3px;
    font-size: 20px;
}

.unselected:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

.unselected:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.selected {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}