body, html {
  background-color : #EBECF0;
}

div p {
  color: #BABECC;
  text-shadow: 1px 1px 1px #FFF;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(22px + 2vmin);
  font-weight: bold;
}